<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      th:fragment="layout(title,left,content)">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title th:replace="${title}">无</title>
    <link href="CSS/admin.css" rel="stylesheet" type="text/css" />
</head>


<body>
<div id="header"><img src="Images/admin_top.gif" /></div>

<div id="main">
    <div id="opt_list" th:replace="${left}">
        <h1>管理员，您好！</h1>
        <ul>
            <li><a href="#">订单管理</a></li>
            <li><a href="userlistInfo">用户管理</a></li>
            <li><a href="#">角色管理</a></li>
            <li><a href="#">图书分类管理</a></li>
            <li><a href="admin_booklistInfo">图书管理</a></li>
            <li><a href="#">销售统计</a></li>
            <li><a href="admin_logout">安全退出</a></li>
        </ul>
    </div>
    <div id="opt_area">
        <div width="100%" height="800" th:replace="${content}"></div>
    </div>
</div>
</body>
</html>