<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml" th:fragment="layout(title,content)">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title th:replace="${title}">图书列表页</title>
    <link href="CSS/global.css" rel="stylesheet" type="text/css"/>
    <link href="CSS/channel.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="js/global.js"></script>
    <script src="js/jquery-3.4.0.js" type="text/javascript"></script>
    <script src="js/vue.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("#btLogin").click(function () {
                window.location.href = "login";
            });
            $("#btRegister").click(function () {
                window.location.href = "register";
            });
            var html = $.ajax({
                type: "GET",
                url: "categoryInfo",
                async: true,
                success: function (data) {
                    //$("#myDiv").html('<h2>'+JSON.stringify(data)+'</h2>');
                    new Vue({
                        el: '#categoryListDiv',
                        data: {
                            sites: data
                        }
                    });
                }
            });
        });
    </script>
</head>

<body>
<div id="top">
    <div class="status">您好，欢迎来<b th:text="${session.user!=null?session.user.username:''}"></b>到网上书店^_^ <span><a
            href="login">【登录】</a><a
            href="register">【免费注册】</a></span></div>
    <div class="member">
        <div id="nav">
            <ul id="mainnav">
                <li class="current"><a href="#">首页</a></li>
                <li><a href="#">登录</a></li>
                <li><a href="#">注册</a></li>
                <li><a href="#">商讯</a></li>
                <li><a href="#">购物流程</a></li>
                <li><a href="#">在线客服</a></li>
                <li><a href="#">积分兑换</a></li>
                <li><a href="#">书籍求购</a></li>
                <li><a href="#">帮助</a></li>
            </ul>
        </div>
    </div>
</div>


<div id="a_b_04"><img src="Images/a_b_04.jpg" alt=""/></div>

<div id="breadcrumb">您现在的位置： 首页 > 情感 > <a href="#" class="red">言情（1890种）</a></div>

<div id="container">
    <!--left content-->
    <div id="intro">
        <div class="child_menu" id="categoryListDiv">
            <h2 class="white">图书分类</h2>
            <ul v-for="site in sites">
                <li><a v-bind:href="['booklistInfo?cid='+site.cid]">{{ site.cname2 }}</a></li>
            </ul>
        </div>

        <div class="history">
            <h2>最近的浏览记录</h2>
            <ul>
                <li><span>&middot;</span><a href="#">暮光之城-月食</a></li>
                <li><span>&middot;</span><a href="#">家小团圆（张爱玲...</a></li>
                <li><span>&middot;</span><a href="#">完全图解哇野外求...</a></li>
                <li><span>&middot;</span><a href="#">近代女性服饰演变...</a></li>
                <li><span>&middot;</span><a href="#">【6折】碧血剑</a></li>
            </ul>
        </div>
    </div>

    <div class="main">
        <div class="list_asc">
            <!--choice order type-->
            <div class="type_choice f_left">
                排序方式
                <select name="list_type">
                    <option>按销量 排序</option>
                </select>
            </div>
            <!--page no-->
            <div class="turn_area f_right">
                <span id="turn_pre"><<</span>
                <span id="turn_page">第一页</span>
                <span id="turn_next">>></span>
            </div>

        </div>

        <div th:replace="${content}">

        </div>

    </div>
</div>

<div id="footer">
    <!--contac us-->
    <div class="telephone">
        <strong>热线</strong> 021-61508168　<strong>传真</strong> 021-61508168-8020　 <br/>
        <strong>Q Q</strong>375013071  13483528    562655482  1143735195（技术)<br/>
        <strong>MSN</strong> gaoguwen2001@hotmail.com   <strong>信箱</strong>gaoguwen2001@hotmail.com<br/>
    </div>
    <!---->
    <div class="imp_link">
        <img src="Images/alipay.gif" alt="支付宝支付"/><img src="Images/online_pay.gif" alt="在线支付"/><br/>
        <a href="http://www.hjenglish.com/about/aboutus.htm" target="_blank">网站介绍</a>　<a
            href="http://www.hjenglish.com/about/partner.htm" target="_blank">合作伙伴</a>　<a href="#"
                                                                                          target="_blank">网站地图</a>　<a
            href="#" target="_blank">联系我们</a></div>
</div>
</body>
</html>
