<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qst.bx_web.dao.BookDao">
    <resultMap id="bookList" type="com.qst.bx_web.pojo.Book">
        <id column="bookid" property="bookid"></id>
        <id column="author" property="author"></id>
        <id column="cid" property="category.cid"></id>
        <id column="cname" property="category.cname"></id>
        <id column="cname2" property="category.cname2"></id>
        <id column="pic1" property="pic1"></id>
        <id column="pic2" property="pic2"></id>
        <id column="pic3" property="pic3"></id>
        <id column="press" property="press"></id>
        <id column="publishdate" property="publishdate"></id>
        <id column="title" property="title"></id>
        <id column="unitprice" property="unitprice"></id>
        <id column="description" property="description"></id>
        <id column="catalog" property="catalog"></id>
        <id column="content" property="content"></id>
    </resultMap>

    <select id="getAllBooks" parameterType="Map" resultMap="bookList">
        SELECT
        bookid,author,bb.cid,bc.cname,bc.cname2,pic1,pic2,pic3,press,publishdate,title,unitprice,description,`catalog`,content
        FROM bx_books bb join bx_category bc on bb.cid=bc.cid where 1=1
        <if test="cid!=0">
            AND bb.cid= #{cid}
        </if>
        LIMIT ${(pageNo-1)*pageSize},${pageSize}
    </select>

    <select id="getBookById" resultMap="bookList">
        SELECT bookid,author,bb.cid,bc.cname,bc.cname2,pic1,pic2,pic3,press,publishdate,title,unitprice,description,`catalog`,content
        FROM bx_books bb join bx_category bc on bb.cid=bc.cid
        where bookid = #{bid}
    </select>

    <update id="modifyBook" parameterType="com.qst.bx_web.pojo.Book">
        update bx_books
        <set>
            <if test="author != null">author=#{author},</if>
            <if test="catalog != null">`catalog`=#{catalog},</if>
            <if test="category.cid != null">cid=#{category.cid},</if>
            <if test="category.cname != null">cname=#{category.cname},</if>
            <if test="content != null">content=#{content},</if>
            <if test="description != null">description=#{description},</if>
            <if test="pic1 != null">pic1=#{pic1},</if>
            <if test="pic2 != null">pic2=#{pic2},</if>
            <if test="pic3 != null">pic3=#{pic3},</if>
            <if test="press != null">press=#{press},</if>
            <if test="publishdate != null">publishdate=#{publishdate},</if>
            <if test="title != null">title=#{title},</if>
            <if test="unitprice != null">`unitprice`=#{unitprice}</if>
        </set>
        where bookid=#{bookid}
    </update>

</mapper>

