<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/jquery-3.4.0.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            var html = $.ajax({
                type: "GET",
                url: "userInfo",
                async: true,
                success: function(data){
                    $("#myDiv").html('<h2>'+JSON.stringify(data)+'</h2>');
                }
            });
        });
    </script>
</head>
<body>
<p th:text="${welcome}"></p>
<div id="myDiv"></div>
</body>
</html>